# Ignore node_modules directory
node_modules/

# Ignore build and dist directories
build/
dist/

# Ignore all minified JavaScript files
*.min.js

# Ignore test files
*.test.js
tests/

# Ignore public directory (if you don't want to lint assets like images)
public/
