:root{
  --primary: #7002ee;
  --primary-light: #8f3df5;
  --primary-dark: #5a01c0;
  --secondary: #4d01a5;
  --primary-soft: #c174f5;
  
}
.image-slider {
  position: relative;
  width: 100%;
  height: 730px;
  perspective: 1000px;
  overflow: hidden;
}
.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s ease, opacity 1s ease;
}
.slide-img.active {
  opacity: 1;
  transform: rotateY(0);
}
.section-title {
  text-align: center;
  padding: 20px;
  margin-left: 70px;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
