// Colors
$primary: #7002ee;
$primary-second: #c174f5;
$primary-gradient: linear-gradient(45deg, $primary, $primary-second);
$secondary: #4d01a5;
$primary-soft: $primary-second;
$black: #000;
$white: #fff;
$grey-light: #999;
$background: #f9f9f9;
$shadow-color: rgba(0, 0, 0, 0.2);

// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

  // Scrollbar Design Tokens (optional but consistent)

$scrollbar-width: 8px;
$scrollbar-height: 12px;
$scrollbar-border-radius: 10px;