// Main color scheme
$primary-color: #7002ee;
$secondary-color: #4d01a5;
$soft-primary: #9d4edd;

// Color variations
$primary-rgb: 112, 2, 238;
$secondary-rgb: 77, 1, 165;
$soft-primary-rgb: 157, 78, 221;




// Export as CSS variables for JavaScript access
:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --soft-primary: #{$soft-primary};
  
  --primary-rgb: #{$primary-rgb};
  --secondary-rgb: #{$secondary-rgb};
  --soft-primary-rgb: #{$soft-primary-rgb};
}
