
:root{
  --primary:#7002ee;
  --secondary:#4d01a5;
  --primary-soft:#c174f5;
}


.image-slider {
  position: relative;
  width: 100%;
  height: 650px; /* Fixed height for container */
  perspective: 1000px; /* Depth effect */
  overflow: hidden;
  background: var(--primary); /* Optional placeholder background */
}

.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Match container height */
  object-fit: cover; /* Ensure images fill the container */
  opacity: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg); /* Start flipped */
  transition: transform 1s ease, opacity 1s ease; /* Smooth animation */
}

.slide-img.active {
  opacity: 1;
  transform: rotateY(0); /* Bring the active image forward */
}


.section-title {
  text-align: center; /* Center align the content */
  padding: 20px; /* Add spacing around the section */
  margin-left: 70px;
}

.title-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically */
}


