:root{
  --primary:#7002ee;
  --secondary:#4d01a5;
  --primary-soft:#c174f5;
}


/* Footer Styles */
#footer {
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  overflow: hidden;
  position: relative;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

#footer .copyright {
  margin-bottom: 5px;
}

#footer .credits {
  font-size: 13px;
}

/* Video Background */
#footer-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
 
}

/* Content Overlay */
#footer .container {
  position: relative;
  z-index: 1; /* Ensures content is above the video */
}

/* Soft UI styles */
#footer {
  background: transparent !important;
  border-radius: 20px;
  transition: all 0.3s ease;
}


.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

