:root{
  --primary:#7002ee;
  --secondary:#4d01a5;
  --primary-soft:#c174f5;
}




#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader:before {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid var(--primary);
  border-right-color: transparent;
  animation: spin-dots 1.2s linear infinite;
}

@keyframes spin-dots {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

